header {
    background-color: #D4D0C8;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #A0A0A0;
    cursor: url('images/paintbrush.png'), auto;
}

header h1 {
    margin: 0;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
}

.toolbar {
    background-color: #D4D0C8;
    padding: 10px;
    display: flex;
    justify-content: space-around; /* distribute buttons evenly */
    border-bottom: 2px solid #A0A0A0;
    cursor: url('images/paintbrush.png'), auto;
}

.toolbar button {
    background-color: #E0E0E0;
    border: 1px solid #A0A0A0;
    padding: 10px;
    font-size: 14px;
    cursor: url('images/paintbrush.png'), auto;
    flex: 1; /* allow button growth equally */
    margin: 0 5px; /* add margin for spacing */
}

.toolbar button:hover {
    background-color: #C0C0C0;
}

.main-container {
    display: flex;
    height: calc(100vh - 150px);
    margin: 10px;
}

.paint-area {
    background-color: #FFFFFF;
    border: 2px solid #A0A0A0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative; /* absolute positioning in container */
    cursor: url('images/paintbrush.png'), auto;
}

#paintCanvas {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    width: 100%;
    height: 100%;
    cursor: url('images/paintbrush.png'), auto;
}

.canvas-text {
    position: absolute;
    bottom: 10px; /* adjust placement im canvas area */
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #555; /* adjust text color */
    padding: 5px;
    border-radius: 4px;
}

.color-palette {
    display: flex;
    flex-wrap: wrap; /* allow items to wrap */
    gap: 5px; /* space between items */
    width: 80px;
    padding: 10px;
    border: 2px solid #A0A0A0;
    background-color: #D4D0C8;
    margin-right: 10px;
    cursor: url('images/paintbrush.png'), auto;
}

.color-swatch {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    cursor: url('images/paintbrush.png'), auto;
}

.color-swatch:hover {
    border: 2px solid #000;
}

footer {
    background-color: #D4D0C8;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #A0A0A0;
    font-size: 14px;
    cursor: url('images/paintbrush.png'), auto;
}